*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    overflow:hidden;
    background:
    radial-gradient(circle at center,
    #001133 0%,
    #000814 40%,
    #000000 100%);
}

/* Canvas */

canvas{
    position:absolute;
    width:100%;
    height:100%;
}

/* Texto */

.mensaje{

    position:absolute;

    width:100%;

    text-align:center;

    top:5%;

    z-index:100;

}

h1{

    color:#66d9ff;

    font-size:85px;

    text-shadow:
    0 0 20px #00ccff,
    0 0 50px #00ccff,
    0 0 120px #00ccff;

    animation:brillo 3s infinite alternate;

}

@keyframes brillo{

    from{

        text-shadow:
        0 0 20px #00ccff,
        0 0 50px #00ccff;

    }

    to{

        text-shadow:
        0 0 40px #66ffff,
        0 0 90px #00ccff,
        0 0 160px #00ccff;

    }

}

/* CARTAS */

#cartas{

    position:absolute;

    width:100%;

    height:100%;

    z-index:200;

}

.carta{

    position:absolute;

    width:140px;

    height:140px;

    background:rgba(0,150,255,0.12);

    border:2px solid #66d9ff;

    border-radius:25px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:16px;

    text-align:center;

    padding:10px;

    backdrop-filter:blur(15px);

    box-shadow:
    0 0 20px #00ccff,
    0 0 50px #00ccff,
    0 0 90px #00ccff;

    animation:flotar 6s infinite ease-in-out;

    cursor:pointer;

    transition:0.4s;

}

.carta:hover{

    transform:scale(1.15);

    box-shadow:
    0 0 40px #66ffff,
    0 0 80px #00ccff,
    0 0 150px #00ccff;

}

@keyframes flotar{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-25px);
    }

    100%{
        transform:translateY(0px);
    }

}